<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/N_Python_End_to_End_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basics Python

In [2]:
# create new variable
name = "Nut"
age = 21
print(name)
print(age)

Nut
21

In [4]:
# fstring template
print( f"Hello my name is {name} and I'm {age} years old ")

Hello my name is Nut and I'm 21 years old

In [6]:
# data structures in python // what is arrays 
# list 
shopping_list = ["eggs","milk","bread","carrot"]
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [8]:
shopping_list[0]
#python start with 0

'eggs'

In [9]:
print(shopping_list[3])

carrot

In [11]:
# control flow
for item in shopping_list: 
    print(item.upper())

EGGS
MILK
BREAD
CARROT

In [12]:
# list comprehension 
upper_shopping_list = [item.upper() for item in shopping_list]

In [13]:
print(upper_shopping_list)

['EGGS', 'MILK', 'BREAD', 'CARROT']

In [14]:
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [19]:
# def : create new function + type hints 
def hello(name: str) -> None:
    print(f"Hello {name} nice to see you")

In [18]:
hello("nut")

Hello nut nice to see you

In [21]:
# new fuction 
def sum_two_nums(x : int,y : int) -> int : # type hint not enforce  
    return x+y

In [24]:
result = sum_two_nums(19,31)
print(result)

50

### OOP
object oriented programming

In [67]:
class Cat():   # attribute 
    def __init__ (self,cat_name,age, breed):  #always start with self
        self.name = cat_name 
        self.age = age
        self.breed = breed
    
    def __str__(self): #dunder
        return f"I'am a dog name {self.name}"
    def barking(self):
        print("Meow Meow")

    def eating(self,food):
        print(f"she eating {food} , she love it")

In [69]:
my_cat = Cat("Doraemon",5,"thai")
print(my_cat)

I'am a dog name Doraemon

In [55]:
print(my_cat.name)
print(my_cat.breed)

Doraemon
thai

In [56]:
my_cat2 = Cat('kitty',5,'japan') # cat class

In [65]:
my_cat.barking()
my_cat.eating("ham")

Meow Meow
she eatingham , she love it

In [70]:
print(my_cat)

I'am a dog name Doraemon

In [88]:
## book_class
class Book():
    def __init__ (self, title, year, genre, pages):
        self.title = title
        self.year = year
        self.genre = genre
        self.pages = pages
    
    def __str__(self):
        return f"Book title: {self.title} Author: {self.author}"

    def add_author(self, author):  # create new attributes
        self.author =  author

In [89]:
my_book = Book('business made simple',2021,'Business',250)

In [75]:
print(my_book.title)
print(my_book.year)
print(my_book.pages)

business made simple
2021
250

In [90]:
my_book.add_author("Donald"). # from __str__
print(my_book)

Book title: business made simple Author: Donald

### mini project CSV Monster

In [10]:
import csv

#with = scope
# list 
list_data = []

with open('hotel.csv', 'r') as file:  #Open and close file 
    data = csv.reader(file)
    for row in data: 
        list_data.append(row) #เอา data ไปต่อใน list list_data

print(list_data[0]) # header\
print(list_data[1])

['id', 'hotel', 'location', 'pricepernight']
['1', 'Ideo', 'Bangkok', '20']

In [12]:
print(len(list_data))

11

In [186]:
# new class CSV Monster
class CSVMonster():
    list_data = []

    def read_csv(self,filename):
        try:
            with open(filename,'r') as file:  # read mode
                data = csv.reader(file)
                for row in data : 
                    self.list_data.append(row)
            print("Success - csv data has been loaded.")
        except : #ดังจับ error
            print("Error Couldn't load data")

    def head(self):
        for row in self.list_data[0:6]:
            print(row)

    def tail(self):
        print(self.list_data[0])
        for row in self.list_data[-5:]:  #5 items from back 
            print(row)

    def columns_names(self):
        print(self.list_data[0])

    def info(self):
        print(f"Number of columns : {len(self.list_data[0])}")
        print(f"Number of rows : {len(self.list_data[1:])}") # 1 to end

    def filter_city(self, city):
        result = []
        for row in self.list_data[1:]:
            if row[2] == city:
                print(row)

    def find_mean_price(self):
        prices = []
        for row in self.list_data[1:]:
            prices.append(int(row[3]))
        avg_price = (sum(prices)/len(prices))
        print(f"Average of price per nigt : {avg_price}")

    def price_plus_vat(self,percent_vat):
        old_prices = []
        new_prices = [] #include vat 18%
        for row in self.list_data[1:]:
            price = int(row[3])
            old_prices.append(price)
            new_prices.append(round(price *(1+percent_vat),2))
        print(f'old prices :{old_prices}')
        print(f'new prices :{new_prices}')

In [187]:
my_csv_monster = CSVMonster()

In [188]:
my_csv_monster.read_csv('hotel.csv')

Success - csv data has been loaded.

In [189]:
my_csv_monster.head()

['id', 'hotel', 'location', 'pricepernight']
['1', 'Ideo', 'Bangkok', '20']
['2', 'Accor', 'London', '25']
['3', 'Premium', 'Seoul', '32']
['4', 'Super Star', 'Dubai', '50']
['5', 'Planet', 'Tokyo', '22']

In [190]:
my_csv_monster.tail()

['id', 'hotel', 'location', 'pricepernight']
['6', 'Joby', 'Bangkok', '30']
['7', 'JW Marriot', 'Bangkok', '35']
['8', 'Kenshin', 'Tokyo', '20']
['9', 'Eloquent', 'London', '42']
['10', 'Big Ben', 'London', '45']

In [191]:
my_csv_monster.columns_names()

['id', 'hotel', 'location', 'pricepernight']

In [192]:
my_csv_monster.info()

Number of columns : 4
Number of rows : 10

In [193]:
my_csv_monster.filter_city("Bangkok")

['1', 'Ideo', 'Bangkok', '20']
['6', 'Joby', 'Bangkok', '30']
['7', 'JW Marriot', 'Bangkok', '35']

In [194]:
my_csv_monster.filter_city('London')

['2', 'Accor', 'London', '25']
['9', 'Eloquent', 'London', '42']
['10', 'Big Ben', 'London', '45']

In [195]:
x = '100'
x = int(x)
type(x)
print(x)

100

In [196]:
my_csv_monster.find_mean_price()

Average of price per nigt : 32.1

In [198]:
my_csv_monster.price_plus_vat(0.14)

old prices :[20, 25, 32, 50, 22, 30, 35, 20, 42, 45]
new prices :[22.8, 28.5, 36.48, 57.0, 25.08, 34.2, 39.9, 22.8, 47.88, 51.3]