<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/Bootcamp_Intro_Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Intro to Python
Today we are going to learn python 101 together
- variable
- data types
- data structures : list, tuple
- function

In [ ]:
## comment 
# basic calculation
1+1
2*2
#show results last line so - Print()
print(1+1)
print(2*2)
print(10-2)
print(5/2)
print(5//2) #floor division หารไม่เอาเศษ 
print(9//4)
print(9% 3) #mod modulo หารเอาเฉพาะเศษ
print(5**2) #power

2
4
8
2.5
2
2
0
25

### variable

In [ ]:
salary = 50000
expense = 34000
saving = salary - expense

In [ ]:
print(saving)

16000

In [ ]:
#delete varaible del-delete
del saving

In [ ]:
print(saving)

NameError: ignored

In [ ]:
## tuple unpacking - mutiple assignments
my_name, my_salary, my_expense = "Nut", 46000, 25000
print(my_name)
print(my_salary)
print(my_expense)

Nut
46000
25000

### String

In [ ]:
my_name = "Nut"
print(my_name)
text = "I'm learning Python!" #ถ้าtextมี ' ต้อง rap ข้างนอกด้วย ""
text2 = 'I am learning "python"' 
print(text2)

Nut
I am learning "python"

In [ ]:
text3 = """This is a very long string
Hello World 
This is my world
"""

In [ ]:
# print string 
print("hello","world")

hello world

In [ ]:
#String concatenation 
"Hello" + " World"+ "I'm learning Python!"

"Hello WorldI'm learning Python!"

In [ ]:
# fstring - format string template 
my_name = "Nut"
my_age = 21
text = f"Hello! my name is {my_name} and i am {my_age} years old."

In [ ]:
# String method = function designed fro specific class
# python string w3school 
# python case sensitive 
text = "a duck duck walks into a bar."

In [ ]:
text.upper()

'A DUCK WALKS INTO A BAR.'

In [ ]:
text.capitalize()

'A duck walks into a bar.'

In [ ]:
text.count("duck")

2

In [ ]:
text.replace("duck","chicken")

'a chicken chicken walks into a bar.'

###Data Type
- int
- float
- string
- bool (boolean)

In [ ]:
# int 
x = 100
type(x)

int

In [ ]:
# float 
gpa = 3.56
type(gpa)

float

In [ ]:
# string
language = "Python"
type(language)

str

In [ ]:
# bool 
print(10 *2 == 20)
print(10 *2 > 30)
print("Hello" != "hello") #ไม่เท่ากับ
print("NUT" != "NUT")

True
False
True
False

### Data Structures
- list
- tuple

In [28]:
#list 
# create a new list 
fruits = ["apple", "orange", "mango", "pineapple", "grape"]

In [2]:
fruits

['apple', 'orange', 'mango', 'pineapple', 'grape']

In [27]:
## list - สามารถเก็บข้อมูลได้หลายประเภทพร้อมกัน
fruits1 = ["apple", "orange", "mango", "pineapple", "grape", 100, 43.45]

In [5]:
## Extract from list
## index in python start with 0 
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
orange
mango

In [7]:
## slicing
print(fruits[0:2]) #start with 0 but end before 2 not include 2 
print(fruits[0:3])

['apple', 'orange']
['apple', 'orange', 'mango']

In [8]:
print(fruits[2: ]) # blank after: start with2 to end

['mango', 'pineapple', 'grape']

In [9]:
## add new element in list 
# add straberry at the end of the list 
fruits

['apple', 'orange', 'mango', 'pineapple', 'grape']

In [30]:
fruits.append("strawberry") #เอาไปต่อท้าย

In [31]:
print(fruits)

['apple', 'orange', 'mango', 'pineapple', 'grape', 'strawberry']

In [17]:
fruits.remove("orange")

In [18]:
print(fruits)

['apple', 'mango', 'pineapple', 'grape', 'strawberry']

In [19]:
## add in original poisition
fruits.insert(1,"orange")

In [29]:
print(fruits)

['apple', 'orange', 'mango', 'pineapple', 'grape']

In [21]:
## for loop (Control flow in R)
len(fruits) #length check value

6

In [32]:
## change fruits to uppercase
# for dummy(x) in list : 
for fruit in fruits:
    print(fruit.upper())

APPLE
ORANGE
MANGO
PINEAPPLE
GRAPE
STRAWBERRY

In [37]:
fruits_uppercase = [] #empty list
for fruit in fruits:
    x= fruit.upper()
    fruits_uppercase.append(x) #เอาไปต่อใน list ว่าง

print(fruits_uppercase)
#code block

['APPLE', 'ORANGE', 'MANGO', 'PINEAPPLE', 'GRAPE', 'STRAWBERRY']

### function

In [41]:
## define function
## def
def add_two_nums(x,y):
    return x + y #return result if use print can't create new variable

In [43]:
result = add_two_nums(10,20)
print(result)

30

In [51]:
## greeting a user 
def greeting():
    username = input("What is your name: ")
    print("hello" + username)
    feeling = input("how are you today: ")
    print(f"{username} feels {feeling}")
    print("That's great, hope you all well?")

In [52]:
greeting()

What is your name: nut
hellonut
how are you today: good
nut feels good
That's great, hope you all well?