<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/Bootcamp_Python_End_to_End.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Topics
- basic calculation
- variables
- type hints
- string methods
- data structures : list tuple dictionary
- control flow, try catch syntax
- function
- OOP
- import modules
- csv example
- a little bit of numpy and pandas
- intro to sklearn basics/ machine learning
- glimpse fo tensorflow

In [6]:
# calculation 
print(1+1)
print(8-4)
print(2*2)
print(5 /2)
print(5**2)

2
4
4
2.5
25

In [8]:
# variable can use "" '' both 
my_name = "Nut"
my_school = 'Thammasath University'
print(my_name)

Nut

In [9]:
print("I'm learning python") # if in text have ', use ""

I'm learning python

In [12]:
## long string """"
long_quote = """This is a very long quote
I am learning Python
The Zen of Python"""
print(long_quote)

This is a very long quote
I am learning Python
The Zen of Python

In [13]:
# data types
# int, float, str, boolean
my_name = "Nut"
age = 21
income = 70000.5
movie_lover = True # False

In [18]:
print(type(my_name))
print(type(age))
print(type(income))
print(type(movie_lover))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [22]:
# check type
print(isinstance(my_name, str))
print(isinstance(age, int))
print(isinstance(income, float))
print(isinstance(movie_lover, bool))

True
True
True
True

In [24]:
# print fsting template 
my_name = "Nut"
my_age = 21
print(f"Hello my name is {my_name} and I'm {my_age} years old. " )
#old way .format()
print("Hello my name is {} and I'm {} years old.".format(my_name,my_age))

Hello my name is Nut and I'm 21 years old.
Hello my name is Nut and I'm 21 years old.

In [28]:
# string + string 
text = 'Hello' + 'World'
print(text)
print('Hello '*5)

HelloWorld
Hello Hello Hello Hello Hello

In [29]:
# typer hints- just hints don't enforced
# dynamic typed
my_name : str = 'nut'
my_age : int = 21

In [34]:
# defin function
def hello(name: str) -> None :
    print(f"hello {name}!")

# test function
hello(name = 'Nut') # hello('Nut')

hello Nut!

In [43]:
def sum_two_num(a: int,b: int) -> int :
    assert isinstance(a, int), " a should be interger"    #check condition 
    assert isinstance(b, int), " b should be interger"   #if a and b is not interger, it return error
    return a+b
result = sum_two_num(10,15) 
print(result)

25

### String Methods

In [46]:
text = "a duck walks into a bar"
print(text)
print(len(text))

a duck walks into a bar
23

In [47]:
text.upper()

'A DUCK WALKS INTO A BAR'

In [48]:
text.split(" ") #extract in List

['a', 'duck', 'walks', 'into', 'a', 'bar']

In [51]:
text.replace("duck","lion") #just print not replace
#if want assign in variable
text = text.replace("duck","lion")

In [52]:
text

'a lion walks into a bar'

In [61]:
# python index start with 0 
print(text[0])
print(text[0:4]) #0 1 2 3  not include 4 
print(text[-1]) # at the end
print(text[-2])
print(text[13: ]) #start at 13 to the end

a
a li
r
a
into a bar

In [64]:
print(text)
print(text[0: :3]) # start at 0 : stop : step

a lion walks into a bar
ai l taa

In [65]:
# string is immutable 
text = "I love hotdog"
# text = text.replace("hotdog","hamburger")

In [69]:
text2 = "he"+text[1: ]
print(text2)

he love hamburger

### Data Structure
- list
- tuple
- dictionary

In [71]:
# list[] 
shopping_list = ["eggs", "milk", "bread"]
print(shopping_list)

['eggs', 'milk', 'bread']

In [74]:
# update list (list is mutable)
shopping_list[0] = 'carrot' #update list
print(shopping_list) #change eggs to carrots

['carrot', 'milk', 'bread']

In [76]:
another_shopping_list = ['sugar','salt']
total_shopping_list = shopping_list + another_shopping_list
print(total_shopping_list)

['carrot', 'milk', 'bread', 'sugar', 'salt']

In [80]:
# type hints : list
from typing import List
friends: List[str] = ['David', 'Joe', 'anna']
salary : List[int] = [5000,3444,3145]
print(friends)
print(salary)

['David', 'Joe', 'anna']
[5000, 3444, 3145]