### Intro to Python
Today we are going to learn python 101 together
- variable
- data types
- data structures : list, tuple
- function

In [ ]:
## comment 
# basic calculation
1+1
2*2
#show results last line so - Print()
print(1+1)
print(2*2)
print(10-2)
print(5/2)
print(5//2) #floor division หารไม่เอาเศษ 
print(9//4)
print(9% 3) #mod modulo หารเอาเฉพาะเศษ
print(5**2) #power

2
4
8
2.5
2
2
0
25

### variable

In [ ]:
salary = 50000
expense = 34000
saving = salary - expense

In [ ]:
print(saving)

16000

In [ ]:
#delete varaible del-delete
del saving

In [ ]:
print(saving)

NameError: ignored

In [ ]:
## tuple unpacking - mutiple assignments
my_name, my_salary, my_expense = "Nut", 46000, 25000
print(my_name)
print(my_salary)
print(my_expense)

Nut
46000
25000

### String

In [ ]:
my_name = "Nut"
print(my_name)
text = "I'm learning Python!" #ถ้าtextมี ' ต้อง rap ข้างนอกด้วย ""
text2 = 'I am learning "python"' 
print(text2)

Nut
I am learning "python"

In [ ]:
text3 = """This is a very long string
Hello World 
This is my world
"""

In [ ]:
# print string 
print("hello","world")

hello world

In [ ]:
#String concatenation 
"Hello" + " World"+ "I'm learning Python!"

"Hello WorldI'm learning Python!"

In [ ]:
# fstring - format string template 
my_name = "Nut"
my_age = 21
text = f"Hello! my name is {my_name} and i am {my_age} years old."