<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/N_Bootcamp_Python_End_to_End.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Topics
- basic calculation
- variables
- type hints
- string methods
- data structures : list tuple dictionary
- control flow, try catch syntax
- function
- OOP
- import modules
- csv example
- a little bit of numpy and pandas
- intro to sklearn basics/ machine learning
- glimpse fo tensorflow

In [ ]:
# calculation 
print(1+1)
print(8-4)
print(2*2)
print(5 /2)
print(5**2)

2
4
4
2.5
25

In [ ]:
# variable can use "" '' both 
my_name = "Nut"
my_school = 'Thammasath University'
print(my_name)

Nut

In [ ]:
print("I'm learning python") # if in text have ', use ""

I'm learning python

In [ ]:
## long string """"
long_quote = """This is a very long quote
I am learning Python
The Zen of Python"""
print(long_quote)

This is a very long quote
I am learning Python
The Zen of Python

In [ ]:
# data types
# int, float, str, boolean
my_name = "Nut"
age = 21
income = 70000.5
movie_lover = True # False

In [ ]:
print(type(my_name))
print(type(age))
print(type(income))
print(type(movie_lover))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# check type
print(isinstance(my_name, str))
print(isinstance(age, int))
print(isinstance(income, float))
print(isinstance(movie_lover, bool))

True
True
True
True

In [ ]:
# print fsting template 
my_name = "Nut"
my_age = 21
print(f"Hello my name is {my_name} and I'm {my_age} years old. " )
#old way .format()
print("Hello my name is {} and I'm {} years old.".format(my_name,my_age))

Hello my name is Nut and I'm 21 years old.
Hello my name is Nut and I'm 21 years old.

In [ ]:
# string + string 
text = 'Hello' + 'World'
print(text)
print('Hello '*5)

HelloWorld
Hello Hello Hello Hello Hello

In [ ]:
# typer hints- just hints don't enforced
# dynamic typed
my_name : str = 'nut'
my_age : int = 21

In [ ]:
# defin function
def hello(name: str) -> None :
    print(f"hello {name}!")

# test function
hello(name = 'Nut') # hello('Nut')

hello Nut!

In [ ]:
def sum_two_num(a: int,b: int) -> int :
    assert isinstance(a, int), " a should be interger"    #check condition 
    assert isinstance(b, int), " b should be interger"   #if a and b is not interger, it return error
    return a+b
result = sum_two_num(10,15) 
print(result)

25

### String Methods

In [2]:
text = "a duck walks into a bar"
print(text)
print(len(text))

a duck walks into a bar
23

In [ ]:
text.upper()

'A DUCK WALKS INTO A BAR'

In [3]:
text.split(" ") #extract in List. in("" = white space)

['a', 'duck', 'walks', 'into', 'a', 'bar']

In [5]:
text.replace("duck","lion") #just print not replace 
#if want assign in variable , want to replace lion replace duck 
text = text.replace("duck","lion")

In [ ]:
text

'a lion walks into a bar'

In [8]:
# python index start with 0 / subset string 
print(text[0])
print(text[0:4]) #0 1 2 3  not include 4 
print(text[-1]) # at the end
print(text[-2])
print(text[2:6])
print(text[7:12])
print(text[13: ]) #after : เว้นว่าง = จนจบ

a
a li
r
a
lion
walks
into a bar

In [10]:
print(text)
print(text[0: :2]) #start:stop:step

a lion walks into a bar
alo ak noabr

In [11]:
#string is immutable
text = "I love hotdog"
#text = text.replace('hotdog','hamburger')

In [14]:
 text2 = 'He' + text[1:]
 print(text2)

He love hotdog

### Data Structue 
- list 
- tuple 
- dictionary

In [16]:
# list []
shopping_list = ['eggs','milk','bread']
print(shopping_list)

['eggs', 'milk', 'bread']

In [17]:
# update list ( mutable object )
shopping_list[0] = 'carrot'
print(shopping_list)

['carrot', 'milk', 'bread']

In [18]:
another_shopping_list = ['sugar','salt']
total_shopping_list = shopping_list + another_shopping_list
print(total_shopping_list)

['carrot', 'milk', 'bread', 'sugar', 'salt']

In [23]:
# type hints : list
from typing import List
friends : List[str] = ['gift','grape','nine','ploy','sugus']
salary : List[int] = [400,333,5342,543,222,960]
print(friends )
print(salary)

['gift', 'grape', 'nine', 'ploy', 'sugus']
[400, 333, 5342, 543, 222, 960]

In [24]:
## method vs. fuction 
# list methods 
shopping_list.append('sugar')
print(shopping_list)

['carrot', 'milk', 'bread', 'sugar']

In [25]:
shopping_list.append('chocolate milk')
print(shopping_list)

['carrot', 'milk', 'bread', 'sugar', 'chocolate milk']

In [27]:
shopping_list.insert(1,'tomato')
print(shopping_list)

['carrot', 'tomato', 'carrot', 'milk', 'bread', 'sugar', 'chocolate milk']

In [36]:
shopping_list.remove('carrot')
print(shopping_list)

['carrot', 'tomato', 'milk', 'bread', 'sugar', 'chocolate milk']

In [37]:
print(shopping_list)

['carrot', 'tomato', 'milk', 'bread', 'sugar', 'chocolate milk']

In [4]:
#tuple - immutable - ordered 
username = ('nutchapolc','chaiyanon','curiousman')
username[0]
type(username)

tuple

In [7]:
## tuple assignment multiple assingment 
username1, username2,username3 =  username 
print(username1)
print(username2)
print(username3)

nutchapolc
chaiyanon
curiousman

In [10]:
## dictionary - mutable, unordered.  / similar to Json
# key-value pair

customer ={
    "name": "David", 
    "age":32,
    "city":"London",
    "fav_movies": ["Dark night", "Avengers","Iron man"]
    } 
    #{key:value}
print(customer)

{'name': 'David', 'age': 32, 'city': 'London', 'fav_movies': ['Dark night', 'Avengers', 'Iron man']}

In [17]:
#subset data 
print(customer["name"])
print(customer["fav_movies"][0])

David
Dark night

In [22]:
# list of dictionary 
list_customer = [ 
    {
        "name": "David", 
        "age":32,
        "city":"London",
        "fav_movies": ["Dark night", "Avengers","Iron man"]
    } ,
    {
        "name": "Dash", 
        "age":35,
        "city":"Paris",
        "fav_movies": ["Barbie", "Amily in paris","Iron man3"]
    } ,
    {
        "name": "tomsam", 
        "age":21,
        "city":"bangkok",
        "gender":"Female", 
        "fav_movies": ["425 degree ", "sing2"]
    } 
]

In [23]:
list_customer

[{'age': 32,
  'city': 'London',
  'fav_movies': ['Dark night', 'Avengers', 'Iron man'],
  'name': 'David'},
 {'age': 35,
  'city': 'Paris',
  'fav_movies': ['Barbie', 'Amily in paris', 'Iron man3'],
  'name': 'Dash'},
 {'age': 21,
  'city': 'bangkok',
  'fav_movies': ['425 degree ', 'sing2'],
  'gender': 'Female',
  'name': 'tomsam'}]

In [28]:
list_customer[2]['name']

'tomsam'

In [30]:
list_customer[1]["fav_movies"][2]

'Iron man3'

In [31]:
customer ={
    "name": "David", 
    "age":32,
    "city":"London",
    "fav_movies": ["Dark night", "Avengers","Iron man"]
    }

In [33]:
list(customer.keys())

['name', 'age', 'city', 'fav_movies']

In [35]:
list(customer.values())

['David', 32, 'London', ['Dark night', 'Avengers', 'Iron man']]

In [37]:
customer.get('city')

'London'

In [40]:
customer.get('cities') # if it's wrong it isn't return anything

## control flow 

- if 
- for 
- while 
- try catch

In [ ]:
## if 1:30
s