<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/N_Python_End_to_End_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basics Python

In [2]:
# create new variable
name = "Nut"
age = 21
print(name)
print(age)

Nut
21

In [4]:
# fstring template
print( f"Hello my name is {name} and I'm {age} years old ")

Hello my name is Nut and I'm 21 years old

In [6]:
# data structures in python // what is arrays 
# list 
shopping_list = ["eggs","milk","bread","carrot"]
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [8]:
shopping_list[0]
#python start with 0

'eggs'

In [9]:
print(shopping_list[3])

carrot

In [11]:
# control flow
for item in shopping_list: 
    print(item.upper())

EGGS
MILK
BREAD
CARROT

In [12]:
# list comprehension 
upper_shopping_list = [item.upper() for item in shopping_list]

In [13]:
print(upper_shopping_list)

['EGGS', 'MILK', 'BREAD', 'CARROT']

In [14]:
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [19]:
# def : create new function + type hints 
def hello(name: str) -> None:
    print(f"Hello {name} nice to see you")

In [18]:
hello("nut")

Hello nut nice to see you

In [21]:
# new fuction 
def sum_two_nums(x : int,y : int) -> int : # type hint not enforce  
    return x+y

In [24]:
result = sum_two_nums(19,31)
print(result)

50

### OOP
object oriented programming

In [67]:
class Cat():   # attribute 
    def __init__ (self,cat_name,age, breed):  #always start with self
        self.name = cat_name 
        self.age = age
        self.breed = breed
    
    def __str__(self): #dunder
        return f"I'am a dog name {self.name}"
    def barking(self):
        print("Meow Meow")

    def eating(self,food):
        print(f"she eating {food} , she love it")

In [69]:
my_cat = Cat("Doraemon",5,"thai")
print(my_cat)

I'am a dog name Doraemon

In [55]:
print(my_cat.name)
print(my_cat.breed)

Doraemon
thai

In [56]:
my_cat2 = Cat('kitty',5,'japan') # cat class

In [65]:
my_cat.barking()
my_cat.eating("ham")

Meow Meow
she eatingham , she love it

In [70]:
print(my_cat)

I'am a dog name Doraemon

In [88]:
## book_class
class Book():
    def __init__ (self, title, year, genre, pages):
        self.title = title
        self.year = year
        self.genre = genre
        self.pages = pages
    
    def __str__(self):
        return f"Book title: {self.title} Author: {self.author}"

    def add_author(self, author):  # create new attributes
        self.author =  author

In [89]:
my_book = Book('business made simple',2021,'Business',250)

In [75]:
print(my_book.title)
print(my_book.year)
print(my_book.pages)

business made simple
2021
250

In [90]:
my_book.add_author("Donald"). # from __str__
print(my_book)

Book title: business made simple Author: Donald