<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/N_Python_End_to_End_BC3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python End-to-End**

## **Basic Python**

In [ ]:
# basic calculation
print(1 + 1)
print(5 - 2)
print(5 * 3)
print(5 / 4)
print(5 // 4) # floor division

2
3
15
1.25
1

In [ ]:
# variables
x = 100
y = 150
print(x + y)

250

In [ ]:
# snake case in Python
my_name = "John Wick"
my_age = 40

In [ ]:
# fstring template
text = f"Hello my name is {my_name} and I am {my_age} years old."
print(text)

Hello my name is John Wick and I am 40 years old.

In [ ]:
# data types
# int, float, str, bool

x = 10

print(type(x))

print(isinstance(x, int))

<class 'int'>
True

In [ ]:
gpa = 3.41
print(type(gpa))
print(isinstance(gpa, float))

<class 'float'>
True

In [ ]:
my_name = "Toy"
print(type(my_name))
print(isinstance(my_name, str))

<class 'str'>
True

In [ ]:
result = gpa < 3.25
print( type(result) )
print(isinstance(result, bool))

<class 'bool'>
True

In [ ]:
# convert data type
print(int(True))
print(int(False))
print(int("300"))
print(float("3.41"))
print(str(True))

1
0
300
3.41
True

## **String**

In [ ]:
text = "a duck walks into a bar."

In [ ]:
# function len
len(text)

24

In [ ]:
# functions designed for string
# string methods
text.upper()

'A DUCK WALKS INTO A BAR.'

In [ ]:
count_a = text.count('a')
print(count_a)

4

In [ ]:
text = text.replace("duck", "tiger")
print(text)

a tiger walks into a bar.

In [ ]:
# example - join 
list_of_words = ["python", "is", "cool"]
print(list_of_words)

['python', 'is', 'cool']

In [ ]:
text = "--".join(list_of_words)
print(text)

python--is--cool

In [ ]:
# index in python starts with 0
text = "Hello World"

print(text[6: ])
print(text[0:5])
print(text[6:9])

World
Hello
Wor

## **Function**

In [ ]:
# define your own function
def greeting(name: str) -> str:
    """ Say hello! to our user """ 
    return f"Hello! {name}"

In [ ]:
text = greeting("Toy")
print(text)

Hello! Toy

In [ ]:
# type hint
gpa: float = 3.0
my_name: str = "Toy"
honor: bool = gpa > 3.25

print(gpa, my_name, honor)
print(type(gpa))

3.0 Toy False
<class 'float'>

In [ ]:
# get input from user

username = input("What is your username: ")

What is your username: toyeiei

In [ ]:
user_age = int(input("How old are you? "))

print(user_age)
print(type(user_age))

How old are you? 44
44
<class 'int'>

In [ ]:
user_age

44

In [ ]:
# check username and password to authentication
def check_un_pw():
    username = str(input("Username : ")) # str
    password = input("Password: ") # str
    if (username == 'nutchapol') and (password == 'password'):
        print("Welcome to our server!")
    else:
        print("Cant'! user server, Your username or password is wrong.")

In [ ]:
check_un_pw()

Username : nutchapol
Password: password
Welcome to our server!

In [ ]:
# control flow 
# if-else, for loop, while loop

In [ ]:
def grading():
    score = int(input("Input your Score : ")) # force int 
    if (score >= 85):
        return "Grade A"
    elif (score >= 75):
        return "Grade B+"
    elif (score >= 70):
        return "Grade B"
    elif (score >= 65):
        return "Grade C+"
    elif (score >= 60):
        return "Grade C"
    elif (score > 55):
        return "Grade D"
    else:
        return "Grade F"

In [ ]:
dx_grade = grading()
print(dx_grade)

Input your Score : 76
Grade B+

In [24]:
# for loop
text = "hello"
print(len(text))

for char in text:
     print(char.upper() )

5
H
E
L
L
O

In [ ]:
# data structures: list tuple dictionary
friends = ["Gift", "Nine", "Ploy", "Grape", "Suguxs"]
print(type(friends))

<class 'list'>

In [ ]:
# list methods
friends.append("Fiat")
print(friends)

['Gift', 'Nine', 'Ploy', 'Grape', 'Suguxs', 'Fait', 'Fiatt', 'Fiat']

In [ ]:
friends.remove('Fiatt')
friends.remove('Fait')
print(friends)

['Gift', 'Nine', 'Ploy', 'Grape', 'Suguxs', 'Fiat']

In [ ]:
friends = friends + ['Jijie', 'Pun', 'Aom']
friends
#if write friends don't have print()result จากบนลงล่าง ถ้ามีจะเป็น list ด้านข้าง

['Gift',
 'Nine',
 'Ploy',
 'Grape',
 'Suguxs',
 'Fiat',
 'Jijie',
 'Pun',
 'Aom',
 'Jijie',
 'Pun',
 'Aom',
 'Jijie',
 'Pun',
 'Aom',
 'Jijie',
 'Pun',
 'Aom']

In [ ]:
print(friends)

['Gift', 'Nine', 'Ploy', 'Grape', 'Suguxs', 'Fiat', 'Jijie', 'Pun', 'Aom', 'Jijie', 'Pun', 'Aom', 'Jijie', 'Pun', 'Aom', 'Jijie', 'Pun', 'Aom']

In [ ]:
friends.insert(2, 'God') # insert ตำแหน่งที่ insert(x,) python start with 0
print(friends)

['Gift', 'Nine', 'God', 'Ploy', 'Grape', 'Suguxs', 'Fiat', 'Jijie', 'Pun', 'Aom', 'Jijie', 'Pun', 'Aom', 'Jijie', 'Pun', 'Aom', 'Jijie', 'Pun', 'Aom']

In [ ]:
# list index
print(friends[0])
print(friends[1])
print(friends[-1]) #1 from backward
print(friends[-2]) #2 from backward 
print(friends[1:4])

Gift
Nine
Aom
Pun
['Nine', 'God', 'Ploy']

In [ ]:
fruits = ['apple','apple', 'banana', 'orange']
print(fruits)

['apple', 'apple', 'banana', 'orange']

In [ ]:
# replace index 0 with mango
fruits[0] = 'mango'
print(fruits)
#[2] 0:mango, 1:apple, 2:banana, 3:orange:

['mango', 'apple', 'grape', 'orange']

In [ ]:
# list is MUTABLE (we can update value in a list)
fruits[2] = 'grape' 
print(fruits)

['mango', 'apple', 'grape', 'orange']

In [ ]:
# string is IMMUTABLE
name = "John Wick" # -> "Jack Wick"
print(name)

John Wick

In [ ]:
name = "Jack " + name[5: ]
print(name)

Jack Wick

In [ ]:
name = name.replace("Jack", "John")
print(name)

John Wick

## **Data Structures**

- List (mutable)
- Tuple (immutable)
- Dictionary (mutable)

In [ ]:
# list
fruits = ['apple', 'orange', 'banana']
print(type(fruits))

<class 'list'>

In [ ]:
# tuple (immutable)
fruits = ('apple', 'orange', 'banana', 'apple')

# tuple unpacking
x, y, z, w = fruits

In [ ]:
print(x, y , z, w)

apple orange banana apple

In [41]:
# dictionary {key: value}
customer = {
    "first_name": "New",
    "last_name": "Clear",
    "age": 32
}

In [38]:
# update value in dictionary (mutable)
customer["first_name"] = "New"
print(customer)

{'first_name': 'New'}

In [43]:
# create new key in dictionary
customer["nationality"] = "Thai"
print(customer)

{'first_name': 'New', 'last_name': 'Clear', 'age': 32, 'nationality': 'Thai'}

In [45]:
# create new key in dictionary 
customer['salary'] = 90000
print(customer)

{'first_name': 'New', 'last_name': 'Clear', 'age': 32, 'nationality': 'Thai', 'salary': 90000}

In [44]:
print(customer)

{'first_name': 'New', 'last_name': 'Clear', 'age': 32, 'nationality': 'Thai'}

In [48]:
# delete key
del customer['salary']

In [49]:
customer

{'age': 32, 'first_name': 'New', 'last_name': 'Clear', 'nationality': 'Thai'}

In [50]:
customer.values()

dict_values(['New', 'Clear', 32, 'Thai'])

In [61]:
customer.items()

dict_items([('first_name', 'New'), ('last_name', 'Clear'), ('age', 32), ('nationality', 'Thai')])

In [62]:
customer

{'age': 32, 'first_name': 'New', 'last_name': 'Clear', 'nationality': 'Thai'}

In [64]:
# for loop through dictionary
# in dictionary {key}: {Value}
for key, value in customer.items():
    print(f"{key}: {value}")

first_name: New
last_name: Clear
age: 32
nationality: Thai

In [68]:
# dictionary values can hold many data types/ structures
customers = {
    "customer_01": {"name": "John Wick", "age": 44, "city": "Bangkok"},
    "customer_02": {"name": "Donald Miller", "age": 52},
    "customer_03": {"name": "Jack Dorsey", "age": 35, "mobile": "+66995551234"},
    "customer_04": {"name": "Kevin DeBrune", 
                     "football_teams": ["Man City", "Liverpool", "Paris"]
                    }
}

In [69]:
# semi-structured data
customers

{'customer_01': {'age': 44, 'city': 'Bangkok', 'name': 'John Wick'},
 'customer_02': {'age': 52, 'name': 'Donald Miller'},
 'customer_03': {'age': 35, 'mobile': '+66995551234', 'name': 'Jack Dorsey'},
 'customer_04': {'football_teams': ['Man City', 'Liverpool', 'Paris'],
  'name': 'Kevin DeBrune'}}

In [71]:
# [] subset data
customers["customer_04"]["football_teams"][0]

'Man City'

In [75]:
print(customers["customer_01"])
print(customers["customer_02"])
print(customers["customer_03"])
print(customers["customer_04"])

{'name': 'John Wick', 'age': 44, 'city': 'Bangkok'}
{'name': 'Donald Miller', 'age': 52}
{'name': 'Jack Dorsey', 'age': 35, 'mobile': '+66995551234'}
{'name': 'Kevin DeBrune', 'football_teams': ['Man City', 'Liverpool', 'Paris']}

## **Control Flow**

- if else
- for loop
- while loop

In [ ]:
# while loop example
x = 0

while (x < 5):
    print(x, "hello")
    # update value of x
    x += 1

0 hello
1 hello
2 hello
3 hello
4 hello

In [23]:
1# guess football score ManU vs. Liverpool
# guess how many goals Liverpool ยิง ManU (1-1)

liverpool_score = 1
man_u_score = 1
condition = True

while (condition):
    user_guess_li = int(input("Guess Liverpool goals: "))
    user_guess_ma = int(input("Guess Man_U goals: "))
    if user_guess_li == liverpool_score and user_guess_ma == man_u_score :
        print("You are correct! Liverpool 1-1 ManU!")
        break
    else:
        print("Please try again!")

Guess Liverpool goals: 1
Guess Man_U goals: 1
You are correct! Liverpool 1-1 ManU!

In [ ]:
def is_odd(num):
    if num %2 == 1 :
        return True
    else:
        return False
def is_even():
    num = int(input("Please put you number : "))
    if num %2 == 0 :
        return True
    else: 
        return False

In [ ]:
is_even()

Please put you number : 54

True

## **OOP**

Object Oriented Programming

In [76]:
class Dog:
    name = "ManU"
    age = 5
    color = "red"
    owner = "Ole"

In [77]:
# declare new class object: Dog
my_dog = Dog()

print(my_dog.age)
print(my_dog.owner)
print(my_dog.color)
print(my_dog.name)

5
Ole
red
ManU

In [78]:
second_dog = Dog()
print(second_dog.owner, second_dog.age)

Ole 5

In [3]:
# create new Dog class with customization
class Dog:
    def __init__(self, name, age, color):
        self.name = name
        self.age = age
        self.color = color

    def barking(self):
        print(f"I am a dog and my name is {self.name}.")

    def sitting(self):
        print("I'm sitting now!")

    def get_older(self, years):
        self.age += years

    def hungry(self, food):
        self.food = food
        print(f'my dog want to eat {self.food}')

In [4]:
joey = Dog("Lucky", 6, "brown")

In [5]:
# Dog method
joey.barking()

I am a dog and my name is Lucky.

In [6]:
joey.sitting()

I'm sitting now!

In [7]:
joey.hungry('pizza')

my dog want to eat pizza

In [8]:
print("Current age", joey.age)
joey.get_older(2)
print("New age", joey.age)

Current age 6
New age 8

In [11]:
joey.name # attribute
joey.barking() # method/ function Dog

I am a dog and my name is Lucky.

In [1]:
# most popular Python package for data science
# pandas
import pandas as pd

hotel = pd.read_csv("hotel.csv")

In [3]:
print(hotel)

   id       hotel location  pricepernight
0   1        Ideo  Bangkok             20
1   2       Accor   London             25
2   3     Premium    Seoul             32
3   4  Super Star    Dubai             50
4   5      Planet    Tokyo             22
5   6        Joby  Bangkok             30
6   7  JW Marriot  Bangkok             35
7   8     Kenshin    Tokyo             20
8   9    Eloquent   London             42
9  10     Big Ben   London             45

In [7]:
hotel

   id       hotel location  pricepernight
0   1        Ideo  Bangkok             20
1   2       Accor   London             25
2   3     Premium    Seoul             32
3   4  Super Star    Dubai             50
4   5      Planet    Tokyo             22
5   6        Joby  Bangkok             30
6   7  JW Marriot  Bangkok             35
7   8     Kenshin    Tokyo             20
8   9    Eloquent   London             42
9  10     Big Ben   London             45

In [8]:
type(hotel)

pandas.core.frame.DataFrame

In [14]:
hotel.isnull()

      id  hotel  location  pricepernight
0  False  False     False          False
1  False  False     False          False
2  False  False     False          False
3  False  False     False          False
4  False  False     False          False
5  False  False     False          False
6  False  False     False          False
7  False  False     False          False
8  False  False     False          False
9  False  False     False          False

In [11]:
hotel.shape # attribute doesn't have ()

(10, 4)

In [13]:
hotel.info() # function/ method have ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10 non-null     int64
 1   hotel          10 non-null     object
 2   location       10 non-null     object
 3   pricepernight  10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes


### API requests

In [17]:
import pandas as pd

In [20]:
import requests ## library

url = "https://swapi.dev/api/people/10" # เส้น api 

response = requests.get(url)

response.status_code # ans 200 = success ,404 not found

200

In [21]:
response.content

b'{"name":"Obi-Wan Kenobi","height":"182","mass":"77","hair_color":"auburn, white","skin_color":"fair","eye_color":"blue-gray","birth_year":"57BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/20/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/4/","https://swapi.dev/api/films/5/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/38/"],"starships":["https://swapi.dev/api/starships/48/","https://swapi.dev/api/starships/59/","https://swapi.dev/api/starships/64/","https://swapi.dev/api/starships/65/","https://swapi.dev/api/starships/74/"],"created":"2014-12-10T16:16:29.192000Z","edited":"2014-12-20T21:17:50.325000Z","url":"https://swapi.dev/api/people/10/"}'

In [23]:
json_response = response.json() # api = json format like dictionary in python

In [24]:
json_response

{'birth_year': '57BBY',
 'created': '2014-12-10T16:16:29.192000Z',
 'edited': '2014-12-20T21:17:50.325000Z',
 'eye_color': 'blue-gray',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/4/',
  'https://swapi.dev/api/films/5/',
  'https://swapi.dev/api/films/6/'],
 'gender': 'male',
 'hair_color': 'auburn, white',
 'height': '182',
 'homeworld': 'https://swapi.dev/api/planets/20/',
 'mass': '77',
 'name': 'Obi-Wan Kenobi',
 'skin_color': 'fair',
 'species': [],
 'starships': ['https://swapi.dev/api/starships/48/',
  'https://swapi.dev/api/starships/59/',
  'https://swapi.dev/api/starships/64/',
  'https://swapi.dev/api/starships/65/',
  'https://swapi.dev/api/starships/74/'],
 'url': 'https://swapi.dev/api/people/10/',
 'vehicles': ['https://swapi.dev/api/vehicles/38/']}

In [25]:
json_response['name']

'Obi-Wan Kenobi'

In [30]:
import requests
import time 

url = "https://swapi.dev/api/people/" 

for num in [1,2,3,4,5]:
    response = requests.get(url+ str(num))
    json_response = response.json()
    print(json_response['name'])
    time.sleep(2) # delay two seconds

Luke Skywalker
C-3PO
R2-D2
Darth Vader
Leia Organa

In [31]:
# get people data  1-5 from starwars API

import requests
import time

# base url
url = "https://swapi.dev/api/people/" 

characters = [] # empty list

for num in [3,4,5,6,10]: 
    response = requests.get(url + str(num)) #change num form int to str 
    json_response = response.json()
    data = [
            json_response['name'], 
            json_response['mass'],
            json_response['skin_color'],
            json_response['height'],
            json_response['gender']
        ]
    characters.append(data) # append in empty list 

print(characters)

[['R2-D2', '32', 'white, blue', '96', 'n/a'], ['Darth Vader', '136', 'white', '202', 'male'], ['Leia Organa', '49', 'light', '150', 'female'], ['Owen Lars', '120', 'light', '178', 'male'], ['Obi-Wan Kenobi', '77', 'fair', '182', 'male']]

In [34]:
characters

[['R2-D2', '32', 'white, blue', '96', 'n/a'],
 ['Darth Vader', '136', 'white', '202', 'male'],
 ['Leia Organa', '49', 'light', '150', 'female'],
 ['Owen Lars', '120', 'light', '178', 'male'],
 ['Obi-Wan Kenobi', '77', 'fair', '182', 'male']]

In [41]:
import pandas as pd  # change to data frame

starwars_data = pd.DataFrame(characters, columns = ['name', 'mass', 'skin','height', 'sex']) 
#columns = [ can rename columns name ]

In [45]:
starwars_data

             name mass         skin height     sex
0           R2-D2   32  white, blue     96     n/a
1     Darth Vader  136        white    202    male
2     Leia Organa   49        light    150  female
3       Owen Lars  120        light    178    male
4  Obi-Wan Kenobi   77         fair    182    male

In [55]:
# pandas
starwars_data.to_csv("starwars.csv")

## **SQL in Python (SQLite)**

In [95]:
import sqlite3 #standard library

In [100]:
# create connection connect python to database  :open
conn = sqlite3.connect("school_v4.db")

In [101]:
# create a table in school database
c = conn.cursor() # mouse run in database 

c.execute("create table students (id int, name text, gpa real)") #(columns)
c.execute("""insert into students values  
    (1, 'Nut', 3.55), 
    (2, 'Gift', 3.45), 
    (3, 'Nine', 3.69)""") #triple code = long string สามารถเคาะขึ้นใหม่ได้ 

# commit change to database
conn.commit()

# close connection
conn.close()

In [102]:
# query data
import sqlite3
conn = sqlite3.connect("school_v4.db")
c = conn.cursor()

# run query
c.execute("select * from students")

In [103]:
# fetch all data from cursor
c.fetchall()

[(1, 'Nut', 3.55), (2, 'Gift', 3.45), (3, 'Nine', 3.69)]

In [104]:
c.fetchone()

In [105]:
conn.close()

## **SQLite3 example**

In [ ]:
# 1. create connection
# 2. create cursor
# 3. cursor execute SQL queries
# 4. commit change
# 5. close connection

See variables in memory

In [ ]:
x = 10
y = 20
z = 30

In [ ]:
%who

Dog	 c	 char	 characters	 check_un_pw	 condition	 conn	 count_a	 customer
customers	 data	 first_dog	 friend	 friends	 fruits	 gpa	 grade	 grading
greeting	 honor	 hotel	 joey	 json_response	 key	 list_of_words	 liverpool_score	 my_age
my_dog	 my_name	 name	 num	 pandas	 pd	 requests	 response	 result
score	 second_dog	 sqlite3	 starwars	 text	 time	 url	 user_age	 user_guess
username	 value	 w	 x	 y	 z