<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/N_Python_End_to_End_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basics Python

In [ ]:
# create new variable
name = "Nut"
age = 21
print(name)
print(age)

Nut
21

In [ ]:
# fstring template
print( f"Hello my name is {name} and I'm {age} years old ")

Hello my name is Nut and I'm 21 years old

In [ ]:
# data structures in python // what is arrays 
# list 
shopping_list = ["eggs","milk","bread","carrot"]
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [ ]:
shopping_list[0]
#python start with 0

'eggs'

In [ ]:
print(shopping_list[3])

carrot

In [ ]:
# control flow
for item in shopping_list: 
    print(item.upper())

EGGS
MILK
BREAD
CARROT

In [ ]:
# list comprehension 
upper_shopping_list = [item.upper() for item in shopping_list]

In [ ]:
print(upper_shopping_list)

['EGGS', 'MILK', 'BREAD', 'CARROT']

In [ ]:
print(shopping_list)

['eggs', 'milk', 'bread', 'carrot']

In [ ]:
# def : create new function + type hints 
def hello(name: str) -> None:
    print(f"Hello {name} nice to see you")

In [ ]:
hello("nut")

Hello nut nice to see you

In [ ]:
# new fuction 
def sum_two_nums(x : int,y : int) -> int : # type hint not enforce  
    return x+y

In [ ]:
result = sum_two_nums(19,31)
print(result)

50

### OOP
object oriented programming

In [ ]:
class Cat():   # attribute 
    def __init__ (self,cat_name,age, breed):  #always start with self
        self.name = cat_name 
        self.age = age
        self.breed = breed
    
    def __str__(self): #dunder
        return f"I'am a dog name {self.name}"
    def barking(self):
        print("Meow Meow")

    def eating(self,food):
        print(f"she eating {food} , she love it")

In [ ]:
my_cat = Cat("Doraemon",5,"thai")
print(my_cat)

I'am a dog name Doraemon

In [ ]:
print(my_cat.name)
print(my_cat.breed)

Doraemon
thai

In [ ]:
my_cat2 = Cat('kitty',5,'japan') # cat class

In [ ]:
my_cat.barking()
my_cat.eating("ham")

Meow Meow
she eatingham , she love it

In [ ]:
print(my_cat)

I'am a dog name Doraemon

In [ ]:
## book_class
class Book():
    def __init__ (self, title, year, genre, pages):
        self.title = title
        self.year = year
        self.genre = genre
        self.pages = pages
    
    def __str__(self):
        return f"Book title: {self.title} Author: {self.author}"

    def add_author(self, author):  # create new attributes
        self.author =  author

In [ ]:
my_book = Book('business made simple',2021,'Business',250)

In [ ]:
print(my_book.title)
print(my_book.year)
print(my_book.pages)

business made simple
2021
250

In [ ]:
my_book.add_author("Donald"). # from __str__
print(my_book)

Book title: business made simple Author: Donald

### mini project CSV Monster

In [ ]:
import csv

#with = scope
# list 
list_data = []

with open('hotel.csv', 'r') as file:  #Open and close file 
    data = csv.reader(file)
    for row in data: 
        list_data.append(row) #เอา data ไปต่อใน list list_data

print(list_data[0]) # header\
print(list_data[1])

['id', 'hotel', 'location', 'pricepernight']
['1', 'Ideo', 'Bangkok', '20']

In [ ]:
print(len(list_data))

11

In [ ]:
# new class CSV Monster
class CSVMonster():
    list_data = []

    def read_csv(self,filename):
        try:
            with open(filename,'r') as file:  # read mode
                data = csv.reader(file)
                for row in data : 
                    self.list_data.append(row)
            print("Success - csv data has been loaded.")
        except : #ดังจับ error
            print("Error Couldn't load data")

    def head(self):
        for row in self.list_data[0:6]:
            print(row)

    def tail(self):
        print(self.list_data[0])
        for row in self.list_data[-5:]:  #5 items from back 
            print(row)

    def columns_names(self):
        print(self.list_data[0])

    def info(self):
        print(f"Number of columns : {len(self.list_data[0])}")
        print(f"Number of rows : {len(self.list_data[1:])}") # 1 to end

    def filter_city(self, city):
        result = []
        for row in self.list_data[1:]:
            if row[2] == city:
                print(row)

    def find_mean_price(self):
        prices = []
        for row in self.list_data[1:]:
            prices.append(int(row[3]))
        avg_price = (sum(prices)/len(prices))
        print(f"Average of price per nigt : {avg_price}")

    def price_plus_vat(self,percent_vat):
        old_prices = []
        new_prices = [] #include vat 18%
        for row in self.list_data[1:]:
            price = int(row[3])
            old_prices.append(price)
            new_prices.append(round(price *(1+percent_vat),2))
        print(f'old prices :{old_prices}')
        print(f'new prices :{new_prices}')

In [ ]:
my_csv_monster = CSVMonster()

In [ ]:
my_csv_monster.read_csv('hotel.csv')

Success - csv data has been loaded.

In [ ]:
my_csv_monster.head()

['id', 'hotel', 'location', 'pricepernight']
['1', 'Ideo', 'Bangkok', '20']
['2', 'Accor', 'London', '25']
['3', 'Premium', 'Seoul', '32']
['4', 'Super Star', 'Dubai', '50']
['5', 'Planet', 'Tokyo', '22']

In [ ]:
my_csv_monster.tail()

['id', 'hotel', 'location', 'pricepernight']
['6', 'Joby', 'Bangkok', '30']
['7', 'JW Marriot', 'Bangkok', '35']
['8', 'Kenshin', 'Tokyo', '20']
['9', 'Eloquent', 'London', '42']
['10', 'Big Ben', 'London', '45']

In [ ]:
my_csv_monster.columns_names()

['id', 'hotel', 'location', 'pricepernight']

In [ ]:
my_csv_monster.info()

Number of columns : 4
Number of rows : 10

In [ ]:
my_csv_monster.filter_city("Bangkok")

['1', 'Ideo', 'Bangkok', '20']
['6', 'Joby', 'Bangkok', '30']
['7', 'JW Marriot', 'Bangkok', '35']

In [ ]:
my_csv_monster.filter_city('London')

['2', 'Accor', 'London', '25']
['9', 'Eloquent', 'London', '42']
['10', 'Big Ben', 'London', '45']

In [ ]:
x = '100'
x = int(x)
type(x)
print(x)

100

In [ ]:
my_csv_monster.find_mean_price()

Average of price per nigt : 32.1

In [ ]:
my_csv_monster.price_plus_vat(0.14)

old prices :[20, 25, 32, 50, 22, 30, 35, 20, 42, 45]
new prices :[22.8, 28.5, 36.48, 57.0, 25.08, 34.2, 39.9, 22.8, 47.88, 51.3]

### Pandas

In [115]:
import pandas as pd

In [ ]:
data = pd.read_csv("Sample SuperStore.csv")

In [ ]:
data.head()

   Row ID        Order ID  Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156   11/8/2016  ...        2     0.00   41.9136
1       2  CA-2016-152156   11/8/2016  ...        3     0.00  219.5820
2       3  CA-2016-138688   6/12/2016  ...        2     0.00    6.8714
3       4  US-2015-108966  10/11/2015  ...        5     0.45 -383.0310
4       5  US-2015-108966  10/11/2015  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [ ]:
print("columns: ", data.shape[1])
print("rows :", data.shape[0])

columns:  21
rows : 9994

In [ ]:
columns_names =list(data.columns)
print(columns_names)

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [ ]:
# rename columns
#for columns in columns_names:
 #   print(columns.lower().replace(' ','_').replace('-','_'))

clean_columns_names = [columns.lower().replace(' ','_').replace('-','_') for columns in columns_names]
print(clean_columns_names)

['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit']

In [ ]:
## replace new columns name 
data.columns = clean_columns_names

In [ ]:
print(data.columns)

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [ ]:
data.head()

   row_id        order_id  order_date  ... quantity discount    profit
0       1  CA-2016-152156   11/8/2016  ...        2     0.00   41.9136
1       2  CA-2016-152156   11/8/2016  ...        3     0.00  219.5820
2       3  CA-2016-138688   6/12/2016  ...        2     0.00    6.8714
3       4  US-2015-108966  10/11/2015  ...        5     0.45 -383.0310
4       5  US-2015-108966  10/11/2015  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [ ]:
## filter data 
print(data.shape)
print(data.query("ship_mode == 'Standard Class'").shape)
print(data.query("ship_mode == 'Second Class'").shape)

(9994, 21)
(5968, 21)
(1945, 21)

In [ ]:
## filter data more than one conditions 
data.query("ship_mode =='Standard Class' & city =='Los Angeles'").shape
data.query("ship_mode =='Standard Class' & city =='Los Angeles' & segment =='Corporate'").shape. # all filter is true

SyntaxError: ignored

In [ ]:
data_filter1 = data.query("ship_mode =='Standard Class'&city =='Los Angeles' & segment == 'Corporate'")

In [ ]:
## export data - write csv file 
data_filter1.to_csv("data_standard_class_LA_corporate.csv")

In [ ]:
data.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [ ]:
# select data
columns_1 = ['order_id','ship_date', 'customer_name', 'country', 'city']
data[columns_1].query("city == 'Los Angeles'").head()

         order_id  ship_date    customer_name        country         city
2  CA-2016-138688  6/16/2016  Darrin Van Huff  United States  Los Angeles
5  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles
6  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles
7  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles
8  CA-2014-115812  6/14/2014  Brosina Hoffman  United States  Los Angeles

In [ ]:
# drop columns 
data.drop(columns = ['row_id', 'order_id', 'order_date', 'ship_date']).head()

        ship_mode customer_id    customer_name  ... quantity discount    profit
0    Second Class    CG-12520      Claire Gute  ...        2     0.00   41.9136
1    Second Class    CG-12520      Claire Gute  ...        3     0.00  219.5820
2    Second Class    DV-13045  Darrin Van Huff  ...        2     0.00    6.8714
3  Standard Class    SO-20335   Sean O'Donnell  ...        5     0.45 -383.0310
4  Standard Class    SO-20335   Sean O'Donnell  ...        2     0.20    2.5164

[5 rows x 17 columns]

In [ ]:
## query & | 
data.query("ship_mode == 'Standard Class' | city =='Miami'").shape # or operator

(5991, 21)

In [ ]:
## data anlysis with pandas
data.value_counts('ship_mode')

ship_mode
Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
dtype: int64

In [ ]:
data.value_counts('city').head()

city
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
dtype: int64

In [ ]:
## aggregate function 
data.groupby('sub_category')['sales','quantity'].sum() 
# .groupby(columns,columns_values).

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                    sales  quantity
sub_category
Accessories   167380.3180      2976
Appliances    107532.1610      1729
Art            27118.7920      3000
Binders       203412.7330      5974
Bookcases     114879.9963       868
Chairs        328449.1030      2356
Copiers       149528.0300       234
Envelopes      16476.4020       906
Fasteners       3024.2800       914
Furnishings    91705.1640      3563
Labels         12486.3120      1400
Machines      189238.6310       440
Paper          78479.2060      5178
Phones        330007.0540      3289
Storage       223843.6080      3158
Supplies       46673.5380       647
Tables        206965.5320      1241

In [ ]:
data.groupby(['category','sub_category'])['sales','quantity'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                    sales  quantity
category        sub_category
Furniture       Bookcases     114879.9963       868
                Chairs        328449.1030      2356
                Furnishings    91705.1640      3563
                Tables        206965.5320      1241
Office Supplies Appliances    107532.1610      1729
                Art            27118.7920      3000
                Binders       203412.7330      5974
                Envelopes      16476.4020       906
                Fasteners       3024.2800       914
                Labels         12486.3120      1400
                Paper          78479.2060      5178
                Storage       223843.6080      3158
                Supplies       46673.5380       647
Technology      Accessories   167380.3180      2976
                Copiers       149528.0300       234
                Machines      189238.6310       440
                Phones        330007.0540      3289

In [ ]:
data.groupby(['category','sub_category'])['sales','quantity'].agg(['sum','median','count','max','min'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                    sales                    ... quantity
                                      sum      median count  ...    count max min
category        sub_category                                 ...
Furniture       Bookcases     114879.9963   306.82025   228  ...      228  13   1
                Chairs        328449.1030   362.13600   617  ...      617  14   1
                Furnishings    91705.1640    41.96000   957  ...      957  14   1
                Tables        206965.5320   447.84000   319  ...      319  13   1
Office Supplies Appliances    107532.1610    82.69000   466  ...      466  14   1
                Art            27118.7920    15.50400   796  ...      796  14   1
                Binders       203412.7330    18.56000  1523  ...     1523  14   1
                Envelopes      16476.4020    29.04600   254  ...      254   9   1
                Fasteners       3024.2800    10.58400   217  ...      217  14   1
                Labels         12486.3120    14.94000   364  ...      364  14   1
                Paper          78479.2060    26.72000  1370  ...     1370  14   1
                Storage       223843.6080   113.92800   846  ...      846  14   1
                Supplies       46673.5380    27.93000   190  ...      190  10   1
Technology      Accessories   167380.3180   100.00000   775  ...      775  14   1
                Copiers       149528.0300  1099.98000    68  ...       68   9   1
                Machines      189238.6310   599.98500   115  ...      115  11   1
                Phones        330007.0540   209.97000   889  ...      889  14   1

[17 rows x 10 columns]

In [ ]:
result =data.groupby(['category','sub_category'])['sales','quantity'].agg(['sum','median','count','max','min']).reset_index()
result.to_csv('aggregate_result.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
## if code too long, use \(upper "enter") after line 
result =data.groupby(['category','sub_category'])['sales','quantity']. \
    agg(['sum','median','count','max','min']). \
    reset_index()
result

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

           category sub_category        sales              ... quantity
                                          sum      median  ...   median count max min
0         Furniture    Bookcases  114879.9963   306.82025  ...        3   228  13   1
1         Furniture       Chairs  328449.1030   362.13600  ...        3   617  14   1
2         Furniture  Furnishings   91705.1640    41.96000  ...        3   957  14   1
3         Furniture       Tables  206965.5320   447.84000  ...        3   319  13   1
4   Office Supplies   Appliances  107532.1610    82.69000  ...        3   466  14   1
5   Office Supplies          Art   27118.7920    15.50400  ...        3   796  14   1
6   Office Supplies      Binders  203412.7330    18.56000  ...        3  1523  14   1
7   Office Supplies    Envelopes   16476.4020    29.04600  ...        3   254   9   1
8   Office Supplies    Fasteners    3024.2800    10.58400  ...        4   217  14   1
9   Office Supplies       Labels   12486.3120    14.94000  ...        3   364  14   1
10  Office Supplies        Paper   78479.2060    26.72000  ...        3  1370  14   1
11  Office Supplies      Storage  223843.6080   113.92800  ...        3   846  14   1
12  Office Supplies     Supplies   46673.5380    27.93000  ...        3   190  10   1
13       Technology  Accessories  167380.3180   100.00000  ...        3   775  14   1
14       Technology      Copiers  149528.0300  1099.98000  ...        3    68   9   1
15       Technology     Machines  189238.6310   599.98500  ...        3   115  11   1
16       Technology       Phones  330007.0540   209.97000  ...        3   889  14   1

[17 rows x 12 columns]

### Basic Machine Learning

In [93]:
# sklearn scikit-learn
import pandas as pd 
from sklearn.linear_model import LinearRegression

In [94]:
home_data_train = pd.read_csv("home_data_train.csv")
home_data_train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [95]:
home_data_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [96]:
## select columns we wnat coloumns
list_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 
                'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

X = home_data_train[list_columns]

Y = home_data_train['SalePrice']

In [97]:
#target = f(features)
# SalePrice = b0+b1*bedroom +b2*......
target

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [125]:
## full data set 
from sklearn.linear_model import LinearRegression
## import library 
from sklearn.metrics import mean_absolute_error, mean_squared_error  #MAE #MSE


#init model
LinearModel = LinearRegression() #class // LinearAssociation 

# training = fitting
LinearModel.fit(X, Y) # model.fit(x,y)
  
# make predictions 
predictions = LinearModel.predict(X)

#evaluate model 
print("MAE:",mean_absolute_error(Y, predictions))
print("MSE:",mean_squared_error(Y,predictions))
print("RMSE:",mean_squared_error(Y,predictions, squared = False))

# what is MAE,MSE,RMSE

MAE: 27667.254099950267
MSE: 1858279763.751837
RMSE: 43107.76918087779

In [126]:
# actual
target.head().to_list()

[208500, 181500, 223500, 140000, 250000]

In [127]:
## Full loop - train test split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import  train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor


# select features (x) and target Y 

X = home_data_train[list_columns]
Y = home_data_train['SalePrice']

## train test split
train_X,val_X, train_y,val_y = train_test_split(X,Y,test_size=0.2,random_state=42 ) ## random state data lock data

In [107]:
print(train_X.shape)
print(val_X.shape)

(1168, 7)
(292, 7)

In [133]:
## init model
model_linear = LinearRegression()
model_decision_tree = DecisionTreeRegressor()
model_random_forest = RandomForestRegressor()


# training (fitting)
model_linear.fit(train_X,train_y)
model_decision_tree.fit(train_X,train_y)
model_random_forest.fit(train_X,train_y)


# predict 
predictions_linear = model_linear.predict(val_X)
predictions_tree = model_decision_tree.predict(val_X)
predictions_forest = model_random_forest.predict(val_X)

# evaluate
print("Linear MAE:" ,mean_absolute_error(val_y,predictions_linear))
print("Tree MAE:" ,mean_absolute_error(val_y,predictions_tree))
print("Forest MAE:" ,mean_absolute_error(val_y,predictions_forest))

Linear MAE: 29296.71764224996
Tree MAE: 30494.37785388128
Forest MAE: 22319.25511904762

In [136]:
## load test data 
home_data_test = pd.read_csv("home_data_test.csv")

In [137]:
test_X = home_data_test[list_columns]


test_predictions = model.predict(test_X)

#evaluate test dataset 

print(test_predictions[:10])

[122984.49908775 156484.1967344  202203.76400919 204697.78006108
 187794.34702606 199574.5243793  167106.37591051 188834.84123518
 196152.27814458 121972.88019404]

### Hello World Tensorflow

In [141]:
import tensorflow as tf 
import numpy as np 
from tensorflow.keras   import Sequential
from tensorflow.keras.layers import  Dense

print(tf.__version__)

2.7.0

In [145]:
## กำหนด architecture ของ model 
model = Sequential()
model.add(Dense(units= 1, input_shape = [1] ))
## Stochatic Gradient Descent 
model.compile(optimizer= 'sgd',loss ='mean_squared_error') # combline together # หา parameter ที่ดีที่สุด 
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 1)                 2

=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [147]:
## y = 2x -1 
x = np.array([-1.0,0.0,1.0,2.0,3.0,4.0])
y = 2*x -1

print("X: ",x)
print("y: ",y)

X:  [-1.  0.  1.  2.  3.  4.]
y:  [-3. -1.  1.  3.  5.  7.]

In [153]:
model.fit(x,y, epochs = 500) # epoch จำนวนครั้งที่มัน train

Epoch 1/500
1/1 [==============================] - 0s 4ms/step - loss: 0.3408
Epoch 2/500
1/1 [==============================] - 0s 4ms/step - loss: 0.3338
Epoch 3/500
1/1 [==============================] - 0s 6ms/step - loss: 0.3270
Epoch 4/500
1/1 [==============================] - 0s 5ms/step - loss: 0.3202
Epoch 5/500
1/1 [==============================] - 0s 5ms/step - loss: 0.3137
Epoch 6/500
1/1 [==============================] - 0s 4ms/step - loss: 0.3072
Epoch 7/500
1/1 [==============================] - 0s 6ms/step - loss: 0.3009
Epoch 8/500
1/1 [==============================] - 0s 4ms/step - loss: 0.2947
Epoch 9/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2887
Epoch 10/500
1/1 [==============================] - 0s 3ms/step - loss: 0.2827
Epoch 11/500
1/1 [==============================] - 0s 10ms/step - loss: 0.2769
Epoch 12/500
1/1 [==============================] - 0s 4ms/step - loss: 0.2712
Epoch 13/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2657
Epoch 14/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2602
Epoch 15/500
1/1 [==============================] - 0s 3ms/step - loss: 0.2549
Epoch 16/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2496
Epoch 17/500
1/1 [==============================] - 0s 10ms/step - loss: 0.2445
Epoch 18/500
1/1 [==============================] - 0s 4ms/step - loss: 0.2395
Epoch 19/500
1/1 [==============================] - 0s 3ms/step - loss: 0.2346
Epoch 20/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2297
Epoch 21/500
1/1 [==============================] - 0s 6ms/step - loss: 0.2250
Epoch 22/500
1/1 [==============================] - 0s 4ms/step - loss: 0.2204
Epoch 23/500
1/1 [==============================] - 0s 3ms/step - loss: 0.2159
Epoch 24/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2114
Epoch 25/500
1/1 [==============================] - 0s 5ms/step - loss: 0.2071
Epoch 26/500
1/1 [==============================] - 0s 3ms/step - loss: 0.2028
Epoch 27/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1987
Epoch 28/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1946
Epoch 29/500
1/1 [==============================] - 0s 4ms/step - loss: 0.1906
Epoch 30/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1867
Epoch 31/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1828
Epoch 32/500
1/1 [==============================] - 0s 4ms/step - loss: 0.1791
Epoch 33/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1754
Epoch 34/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1718
Epoch 35/500
1/1 [==============================] - 0s 10ms/step - loss: 0.1683
Epoch 36/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1648
Epoch 37/500
1/1 [==============================] - 0s 4ms/step - loss: 0.1614
Epoch 38/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1581
Epoch 39/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1549
Epoch 40/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1517
Epoch 41/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1486
Epoch 42/500
1/1 [==============================] - 0s 6ms/step - loss: 0.1455
Epoch 43/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1425
Epoch 44/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1396
Epoch 45/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1367
Epoch 46/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1339
Epoch 47/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1312
Epoch 48/500
1/1 [==============================] - 0s 8ms/step - loss: 0.1285
Epoch 49/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1258
Epoch 50/500
1/1 [==============================] - 0s 4ms/step - loss: 0.1233
Epoch 51/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1207
Epoch 52/500
1/1 [==============================] - 0s 8ms/step - loss: 0.1182
Epoch 53/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1158
Epoch 54/500
1/1 [==============================] - 0s 3ms/step - loss: 0.1134
Epoch 55/500
1/1 [==============================] - 0s 20ms/step - loss: 0.1111
Epoch 56/500
1/1 [==============================] - 0s 7ms/step - loss: 0.1088
Epoch 57/500
1/1 [==============================] - 0s 17ms/step - loss: 0.1066
Epoch 58/500
1/1 [==============================] - 0s 6ms/step - loss: 0.1044
Epoch 59/500
1/1 [==============================] - 0s 6ms/step - loss: 0.1023
Epoch 60/500
1/1 [==============================] - 0s 19ms/step - loss: 0.1002
Epoch 61/500
1/1 [==============================] - 0s 12ms/step - loss: 0.0981
Epoch 62/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0961
Epoch 63/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0941
Epoch 64/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0922
Epoch 65/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0903
Epoch 66/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0884
Epoch 67/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0866
Epoch 68/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0848
Epoch 69/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0831
Epoch 70/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0814
Epoch 71/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0797
Epoch 72/500
1/1 [==============================] - 0s 21ms/step - loss: 0.0781
Epoch 73/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0765
Epoch 74/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0749
Epoch 75/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0734
Epoch 76/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0719
Epoch 77/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0704
Epoch 78/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0689
Epoch 79/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0675
Epoch 80/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0661
Epoch 81/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0648
Epoch 82/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0634
Epoch 83/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0621
Epoch 84/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0609
Epoch 85/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0596
Epoch 86/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0584
Epoch 87/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0572
Epoch 88/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0560
Epoch 89/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0549
Epoch 90/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0537
Epoch 91/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0526
Epoch 92/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0516
Epoch 93/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0505
Epoch 94/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0495
Epoch 95/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0484
Epoch 96/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0474
Epoch 97/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0465
Epoch 98/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0455
Epoch 99/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0446
Epoch 100/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0437
Epoch 101/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0428
Epoch 102/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0419
Epoch 103/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0410
Epoch 104/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0402
Epoch 105/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0394
Epoch 106/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0386
Epoch 107/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0378
Epoch 108/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0370
Epoch 109/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0362
Epoch 110/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0355
Epoch 111/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0348
Epoch 112/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0340
Epoch 113/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0333
Epoch 114/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0327
Epoch 115/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0320
Epoch 116/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0313
Epoch 117/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0307
Epoch 118/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0301
Epoch 119/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0294
Epoch 120/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0288
Epoch 121/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0282
Epoch 122/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0277
Epoch 123/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0271
Epoch 124/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0265
Epoch 125/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0260
Epoch 126/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0255
Epoch 127/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0249
Epoch 128/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0244
Epoch 129/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0239
Epoch 130/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0234
Epoch 131/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0229
Epoch 132/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0225
Epoch 133/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0220
Epoch 134/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0216
Epoch 135/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0211
Epoch 136/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0207
Epoch 137/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0203
Epoch 138/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0198
Epoch 139/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0194
Epoch 140/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0190
Epoch 141/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0186
Epoch 142/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0183
Epoch 143/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0179
Epoch 144/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0175
Epoch 145/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0172
Epoch 146/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0168
Epoch 147/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0165
Epoch 148/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0161
Epoch 149/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0158
Epoch 150/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0155
Epoch 151/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0152
Epoch 152/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0148
Epoch 153/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0145
Epoch 154/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0142
Epoch 155/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0139
Epoch 156/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0137
Epoch 157/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0134
Epoch 158/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0131
Epoch 159/500
1/1 [==============================] - 0s 9ms/step - loss: 0.0128
Epoch 160/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0126
Epoch 161/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0123
Epoch 162/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0121
Epoch 163/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0118
Epoch 164/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0116
Epoch 165/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0113
Epoch 166/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0111
Epoch 167/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0109
Epoch 168/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0106
Epoch 169/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0104
Epoch 170/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0102
Epoch 171/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0100
Epoch 172/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0098
Epoch 173/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0096
Epoch 174/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0094
Epoch 175/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0092
Epoch 176/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0090
Epoch 177/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0088
Epoch 178/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0087
Epoch 179/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0085
Epoch 180/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0083
Epoch 181/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0081
Epoch 182/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0080
Epoch 183/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0078
Epoch 184/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0076
Epoch 185/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0075
Epoch 186/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0073
Epoch 187/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0072
Epoch 188/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0070
Epoch 189/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0069
Epoch 190/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0067
Epoch 191/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0066
Epoch 192/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0065
Epoch 193/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0063
Epoch 194/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0062
Epoch 195/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0061
Epoch 196/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0060
Epoch 197/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0058
Epoch 198/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0057
Epoch 199/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0056
Epoch 200/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0055
Epoch 201/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0054
Epoch 202/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0053
Epoch 203/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0051
Epoch 204/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0050
Epoch 205/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0049
Epoch 206/500
1/1 [==============================] - 0s 8ms/step - loss: 0.0048
Epoch 207/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0047
Epoch 208/500
1/1 [==============================] - 0s 11ms/step - loss: 0.0046
Epoch 209/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0045
Epoch 210/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0045
Epoch 211/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0044
Epoch 212/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0043
Epoch 213/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0042
Epoch 214/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0041
Epoch 215/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0040
Epoch 216/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0039
Epoch 217/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0039
Epoch 218/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0038
Epoch 219/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0037
Epoch 220/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0036
Epoch 221/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0035
Epoch 222/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0035
Epoch 223/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0034
Epoch 224/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0033
Epoch 225/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0033
Epoch 226/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0032
Epoch 227/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0031
Epoch 228/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0031
Epoch 229/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0030
Epoch 230/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0029
Epoch 231/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0029
Epoch 232/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0028
Epoch 233/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0028
Epoch 234/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0027
Epoch 235/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0027
Epoch 236/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0026
Epoch 237/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0025
Epoch 238/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0025
Epoch 239/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0024
Epoch 240/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0024
Epoch 241/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0023
Epoch 242/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0023
Epoch 243/500
1/1 [==============================] - 0s 7ms/step - loss: 0.0022
Epoch 244/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0022
Epoch 245/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0022
Epoch 246/500
1/1 [==============================] - 0s 5ms/step - loss: 0.0021
Epoch 247/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0021
Epoch 248/500
1/1 [==============================] - 0s 4ms/step - loss: 0.0020
Epoch 249/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0020
Epoch 250/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0019
Epoch 251/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0019
Epoch 252/500

In [155]:
# y= 2x-1
# y = 2*10 -1 =19
model.predict([10.0])

array([[18.990398]], dtype=float32)