<a href="https://colab.research.google.com/github/cnutchapol/Python_learning/blob/main/N_Bootcamp_Python_End_to_End.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Topics
- basic calculation
- variables
- type hints
- string methods
- data structures : list tuple dictionary
- control flow, try catch syntax
- function
- OOP
- import modules
- csv example
- a little bit of numpy and pandas
- intro to sklearn basics/ machine learning
- glimpse fo tensorflow

In [ ]:
# calculation 
print(1+1)
print(8-4)
print(2*2)
print(5 /2)
print(5**2)

2
4
4
2.5
25

In [ ]:
# variable can use "" '' both 
my_name = "Nut"
my_school = 'Thammasath University'
print(my_name)

Nut

In [ ]:
print("I'm learning python") # if in text have ', use ""

I'm learning python

In [ ]:
## long string """"
long_quote = """This is a very long quote
I am learning Python
The Zen of Python"""
print(long_quote)

This is a very long quote
I am learning Python
The Zen of Python

In [ ]:
# data types
# int, float, str, boolean
my_name = "Nut"
age = 21
income = 70000.5
movie_lover = True # False

In [ ]:
print(type(my_name))
print(type(age))
print(type(income))
print(type(movie_lover))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# check type
print(isinstance(my_name, str))
print(isinstance(age, int))
print(isinstance(income, float))
print(isinstance(movie_lover, bool))

True
True
True
True

In [ ]:
# print fsting template 
my_name = "Nut"
my_age = 21
print(f"Hello my name is {my_name} and I'm {my_age} years old. " )
#old way .format()
print("Hello my name is {} and I'm {} years old.".format(my_name,my_age))

Hello my name is Nut and I'm 21 years old.
Hello my name is Nut and I'm 21 years old.

In [ ]:
# string + string 
text = 'Hello' + 'World'
print(text)
print('Hello '*5)

HelloWorld
Hello Hello Hello Hello Hello

In [ ]:
# typer hints- just hints don't enforced
# dynamic typed
my_name : str = 'nut'
my_age : int = 21

In [ ]:
# defin function
def hello(name: str) -> None :
    print(f"hello {name}!")

# test function
hello(name = 'Nut') # hello('Nut')

hello Nut!

In [ ]:
def sum_two_num(a: int,b: int) -> int :
    assert isinstance(a, int), " a should be interger"    #check condition 
    assert isinstance(b, int), " b should be interger"   #if a and b is not interger, it return error
    return a+b
result = sum_two_num(10,15) 
print(result)

25

### String Methods

In [ ]:
text = "a duck walks into a bar"
print(text)
print(len(text))

a duck walks into a bar
23

In [ ]:
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.split(" ") #extract in List. in("" = white space)

['a', 'duck', 'walks', 'into', 'a', 'bar']

In [ ]:
text.replace("duck","lion") #just print not replace 
#if want assign in variable , want to replace lion replace duck 
text = text.replace("duck","lion")

In [ ]:
text

'a lion walks into a bar'

In [ ]:
# python index start with 0 / subset string 
print(text[0])
print(text[0:4]) #0 1 2 3  not include 4 
print(text[-1]) # at the end
print(text[-2])
print(text[2:6])
print(text[7:12])
print(text[13: ]) #after : เว้นว่าง = จนจบ

a
a li
r
a
lion
walks
into a bar

In [ ]:
print(text)
print(text[0: :2]) #start:stop:step

a lion walks into a bar
alo ak noabr

In [ ]:
#string is immutable
text = "I love hotdog"
#text = text.replace('hotdog','hamburger')

In [ ]:
 text2 = 'He' + text[1:]
 print(text2)

He love hotdog

### Data Structue 
- list 
- tuple 
- dictionary

In [ ]:
# list []
shopping_list = ['eggs','milk','bread']
print(shopping_list)

['eggs', 'milk', 'bread']

In [ ]:
# update list ( mutable object )
shopping_list[0] = 'carrot'
print(shopping_list)

['carrot', 'milk', 'bread']

In [ ]:
another_shopping_list = ['sugar','salt']
total_shopping_list = shopping_list + another_shopping_list
print(total_shopping_list)

['carrot', 'milk', 'bread', 'sugar', 'salt']

In [ ]:
# type hints : list
from typing import List
friends : List[str] = ['gift','grape','nine','ploy','sugus']
salary : List[int] = [400,333,5342,543,222,960]
print(friends )
print(salary)

['gift', 'grape', 'nine', 'ploy', 'sugus']
[400, 333, 5342, 543, 222, 960]

In [ ]:
## method vs. fuction 
# list methods 
shopping_list.append('sugar')
print(shopping_list)

['carrot', 'milk', 'bread', 'sugar']

In [ ]:
shopping_list.append('chocolate milk')
print(shopping_list)

['carrot', 'milk', 'bread', 'sugar', 'chocolate milk']

In [ ]:
shopping_list.insert(1,'tomato')
print(shopping_list)

['carrot', 'tomato', 'carrot', 'milk', 'bread', 'sugar', 'chocolate milk']

In [ ]:
shopping_list.remove('carrot')
print(shopping_list)

['carrot', 'tomato', 'milk', 'bread', 'sugar', 'chocolate milk']

In [ ]:
print(shopping_list)

['carrot', 'tomato', 'milk', 'bread', 'sugar', 'chocolate milk']

In [ ]:
#tuple - immutable - ordered 
username = ('nutchapolc','chaiyanon','curiousman')
username[0]
type(username)

tuple

In [ ]:
## tuple assignment multiple assingment 
username1, username2,username3 =  username 
print(username1)
print(username2)
print(username3)

nutchapolc
chaiyanon
curiousman

In [ ]:
## dictionary - mutable, unordered.  / similar to Json
# key-value pair

customer ={
    "name": "David", 
    "age":32,
    "city":"London",
    "fav_movies": ["Dark night", "Avengers","Iron man"]
    } 
    #{key:value}
print(customer)

{'name': 'David', 'age': 32, 'city': 'London', 'fav_movies': ['Dark night', 'Avengers', 'Iron man']}

In [ ]:
#subset data 
print(customer["name"])
print(customer["fav_movies"][0])

David
Dark night

In [ ]:
# list of dictionary 
list_customer = [ 
    {
        "name": "David", 
        "age":32,
        "city":"London",
        "fav_movies": ["Dark night", "Avengers","Iron man"]
    } ,
    {
        "name": "Dash", 
        "age":35,
        "city":"Paris",
        "fav_movies": ["Barbie", "Amily in paris","Iron man3"]
    } ,
    {
        "name": "tomsam", 
        "age":21,
        "city":"bangkok",
        "gender":"Female", 
        "fav_movies": ["425 degree ", "sing2"]
    } 
]

In [ ]:
list_customer

[{'age': 32,
  'city': 'London',
  'fav_movies': ['Dark night', 'Avengers', 'Iron man'],
  'name': 'David'},
 {'age': 35,
  'city': 'Paris',
  'fav_movies': ['Barbie', 'Amily in paris', 'Iron man3'],
  'name': 'Dash'},
 {'age': 21,
  'city': 'bangkok',
  'fav_movies': ['425 degree ', 'sing2'],
  'gender': 'Female',
  'name': 'tomsam'}]

In [ ]:
list_customer[2]['name']

'tomsam'

In [ ]:
list_customer[1]["fav_movies"][2]

'Iron man3'

In [ ]:
customer ={
    "name": "David", 
    "age":32,
    "city":"London",
    "fav_movies": ["Dark night", "Avengers","Iron man"]
    }

In [ ]:
list(customer.keys())

['name', 'age', 'city', 'fav_movies']

In [ ]:
list(customer.values())

['David', 32, 'London', ['Dark night', 'Avengers', 'Iron man']]

In [ ]:
customer.get('city')

'London'

In [ ]:
customer.get('cities') # if it's wrong it isn't return anything

## control flow 

- if 
- for 
- while 
- try catch

In [ ]:
## if
score  = int(input("What is your score ? "))
if (score >= 80):
    print("Passed")
else:  
    print("Failed")

What is your score ? 56
Failed

In [ ]:
username = input("What is your username ? ") #String

What is your username ? ds

In [ ]:
print(username)
print(type(username))

nut
<class 'str'>

In [ ]:
exam_score = int(input("What is your score ? "))
print(exam_score)
print(type(exam_score))

What is your score ? 43
43
<class 'int'>

In [ ]:
## write funtion 
def grade():
    score  = int(input("What is your score ? "))
    if (score >= 80):
        return "Passed"
    else:  
        return "Failed"
## if want answer return results

In [ ]:
grade()

What is your score ? 87

'Passed'

In [ ]:
result = grade()

What is your score ? 88

In [ ]:
print(result)

Passed

In [ ]:
# write funtion 
def dx_grade():
    score  = int(input("What is your score ? "))
    if (score >= 85):
        return "A"
    elif(score >= 75):
        return "B+"
    elif(score >= 70):
        return "B"
    elif(score >= 65):
        return "C+"
    elif(score >= 60):
        return "C" 
    elif(score >= 55):
        return "D+"
    else:
        return "F"

In [ ]:
dx_grade()

What is your score ? 85

'A'

In [ ]:
## while loop 
#while (condition)\
count= 0
while(count< 10):
    print('hello world')
    #count = count + 1  or 
    count += 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
# while loop another example 
def play_game ():
    while (True): 
        print("Type q to quite the game ")
        user_input = input("please should your move ")
        if(user_input == 'q') :
            break 
    print('good bye ' + user_input)

In [ ]:
play_game()

Type q to quite the game
please should your move g
Type q to quite the game
please should your move h
Type q to quite the game
please should your move q
good byeq

In [ ]:
# while loop another example 
def animal_game ():
    while (True): 
        print("What is this animal ? ")
        answer = "pig"
        user_input = input("the answer is :  ")
        if(user_input == answer) :
            return "Yeah I love "+ user_input
        if(user_input == 'q'):
            break

In [ ]:
animal_game()

 What is this animal ?
the answer is :  gfj
 What is this animal ?
the answer is :  dog
 What is this animal ?
the answer is :  q

In [ ]:
## for loop
friends = ['Nine','grape','ploy','gift','suguxs'] # x is dummy
for x in friends :
    print("hello "+ x.upper() )

hello NINE
hello GRAPE
hello PLOY
hello GIFT
hello SUGUXS

In [ ]:
## list comprehension
upper_friends = ["hello "+ x.upper() for x in friends]
# output is list

In [ ]:
upper_friends

['hello NINE', 'hello GRAPE', 'hello PLOY', 'hello GIFT', 'hello SUGUXS']

In [ ]:
numbers = [1,4,5,7,8,8,4]
result = [] # ว่างไว้ใส่ตัวแปร 
for x in numbers:
    result.append(x**2)
print(result)

result2 = [ x **2 for x in numbers]

[1, 16, 25, 49, 64, 64, 16]

In [ ]:
print(result2)

[1, 16, 25, 49, 64, 64, 16]

### Functions

In [ ]:
def cube(number: int) -> int:
    assert isinstance(number,int),"number should be int" # for error message input 
    return number **3
cube(5)

125

In [ ]:
 ## lambda function - anonymous function can have more than 1 argument
 cube = lambda  number: number **3
 sum_two_num = lambda a,b : a+b

In [ ]:
sum_two_num(453,3)

456

In [ ]:
# list of tuple
car = [('mazda',2011),
 ('honda',2008),
 ('toyota',2015),
 ('ford',2016 )]

In [ ]:
car.sort(key = lambda car: car[1], reverse = True)
print(car)

[('ford', 2016), ('toyota', 2015), ('mazda', 2011), ('honda', 2008)]

In [ ]:
## Try catch ดักจับ error
x = 10 
try: 
    print(xx/4)
except ZeroDivisionError: # run ก็ต่อเมืื้อ try ไม่ผ่าน  run care error 
    print("Cannot divide x by zero")
except NameError:
    print("Variable is not defined")
finally: 
    print("It's done!")

Variable is not defined
It's done!

### OOP

In [ ]:
### Object Oriented Programming 
# Object and class
# Attrubutes 
# Methods = action 
## create ATM

In [ ]:
class Dog():  #fist letter must be uppercase
    name ='Jack'
    age = 4
    color = 'Black'

In [ ]:
my_dog = Dog()
type(my_dog)

__main__.Dog

In [ ]:
 print(my_dog.name)
 print(my_dog.color)
 print(my_dog.age)

Jack
Black
4

In [169]:
## double _ 
class Dog():
    def __init__(self,name,age,color):
        self.name = name
        self.age = age
        self.color = color

    def __str__(self):
        return f"Hey I am a dog class and my name is {self.name}"

    def sitting(self):
        print("I'm sitting now!")

    def eating(self, food_name):
        print( f"My favorite food is {food_name}.") # f string 

    def get_older(self):
        self.age += 1

In [154]:
joey.sitting()

I'm sitting now!

In [159]:
joey.eating('pizza')

My favorite food is pizza.

In [160]:
joey.get_older()

In [164]:
joey = Dog('joey',5,'black')

In [ ]:
print(joey.name)
print(joey.age)

joey
5

In [ ]:
annop = Dog('annop',3,'blue')
print(annop.name)
print(annop.color)

annop
blue

In [170]:
print(joey)

Hey I am a dog class and my name is joey